#payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;      /* horizontal center */
  justify-content: flex-start; /* vertical start */
  height: 100%;
  width: 100vw;
  background: #fff;
  text-align: center;
  padding-top: 200px;        /* space from top */
  box-sizing: border-box;
  padding-bottom: 180px;

}
@media (max-width:768px){
  #payment-container{
    padding-top: 320px;
  }
}
.payment-head {
  margin-bottom: 0.5em;
  color: black;
  font-size: 20px;
  font-family: roboto, Arial, sans-serif;
}

.payment-talk {
  color: black;
  font-size: medium;
  font-family: roboto, Arial, sans-serif;
}

#goToHomepage {
  background-color: green;
  text-decoration: none;
  border: none;
  height: 40px;
  width: fit-content;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 24px;
  
}

#linkHome {
  text-decoration: none;
  color: whitesmoke;
}